@{
    ViewBag.Title = "Sobre mim";
}
<h2>@ViewBag.Title.</h2>

<p>Meu nome é Rafaela Fortunato tenho 39 anos sou casada e tenho duas filhas, moro em São José dos Campos-SP e sou formada em Ciência da Computação. Trabalho com desenvolvimento de sistemas desde 2003, atualmente trabalho como full stack, atuando com C#, SQL e VueJs.</p>
